@mixin flex(
  $justify: space-between,
  $item: center,
  $flex: null,
  $direction: row
) {
  display: flex;
  justify-content: $justify;
  align-items: $item;
  flex: $flex;
  flex-direction: $direction;
}

@mixin grid(
  $justify: space-between,
  $item: center,
  $columns: null,
  $rows: null,
  $gap: null
) {
  display: grid;
  justify-content: $justify;
  align-items: $item;
  grid-template-columns: $columns;
  grid-template-rows: $rows;
  gap: $gap;
}

@mixin twoLine() {
  display: -webkit-box;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  overflow: hidden;
  -webkit-box-orient: vertical;
}

@mixin primary-button($color: #000, $bg-color: #fff) {
  background-color: $bg-color;
  color: $color;
  font-size: 14px;
  padding: 0 16px;
  height: 36px;
  border: none;
  border-radius: 50px;
  font-family: inherit;
  font-weight: 500;
  cursor: pointer;
  &:hover {
    opacity: 0.9;
  }
  &:active {
    opacity: 0.7;
  }
}

@mixin secondary-button() {
  @include primary-button($color: #fff, $bg-color: rgba(255, 255, 255, 0.1));
  &:hover {
    opacity: 1;
    background-color: rgba(255, 255, 255, 0.2);
  }
  &:active {
    opacity: 1;
    background-color: rgba(255, 255, 255, 0.3);
  }
}

@mixin icon-button($size: 40px) {
  @include flex($justify: center);
  width: $size;
  height: $size;
  border-radius: 50%;
  cursor: pointer;
  border: none;
  background-color: transparent;
  &:hover {
    background-color: rgba(255, 255, 255, 0.1);
  }
}

@mixin tooltip($hover-item) {
  #{$hover-item}:hover + .tooltip {
    opacity: 1;
    transition: opacity 0.3s ease-in;
    cursor: pointer;
  }
  .tooltip {
    opacity: 0;
    border-radius: 4px;
    background-color: rgb(111, 111, 111);
    padding: 8px;
    font-size: 12px;
    margin-top: 16px;
    left: 50%;
    transform: translate(-50%);
    position: absolute;
    z-index: -1;
    cursor: default;
    transition: opacity 0.2s;
  }
}

@mixin profile($width: 40px) {
  .profile {
    @if $width >= 140 {
      padding-right: 24px;
    } @else if $width >= 32 {
      padding-right: 12px;
    } @else {
      padding-right: 6px;
    }
    width: $width;
    height: $width;
    img {
      border-radius: 50%;
      width: 100%;
      object-fit: cover;
    }
  }
}
