@use "@/mixin.scss" as m;

.icon-item {
  position: relative;
  .item-btn {
    @include m.icon-button(40px);
    margin: 6px;
    img {
      max-width: 24px;
    }
  }
  @include m.tooltip(".item-btn");
}
