@use "@/mixin.scss" as m;

.home {
  @include m.grid($gap: 16px, $item: top);
  padding: 20px 12px;
}

@media (max-width: 920px) {
  .home {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media (min-width: 920px) and (max-width: 1250px) {
  .home {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1250px) and (max-width: 1580px) {
  .home {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 1580px) {
  .home {
    grid-template-columns: repeat(4, 1fr);
  }
}
