@use "@/mixin.scss" as m;

.comment {
  .count {
    font-size: 20px;
  }
  .my-box {
    @include m.grid($columns: 52px 1fr, $item: start);
    @include m.profile();
    .my-comment-box {
      text-align: right;
      .my-comment-input {
        background-color: transparent;
        overflow: hidden;
        resize: none;
        border: none;
        width: 100%;
        padding: 4px;
        margin-bottom: 7px;
        border-bottom: 1px solid rgb(111, 111, 111);
        &::placeholder {
          color: rgb(170, 170, 170);
        }
        &:focus-visible {
          outline: none;
          margin-bottom: 6px;
          border-bottom: 2px solid rgb(241, 241, 241);
        }
      }
      .cancel-btn {
        @include m.secondary-button();
        margin-right: 8px;
      }
      .submit-btn {
        @include m.primary-button();
        background-color: #3ea6ff;
      }
    }
  }
  .other-box {
    @include m.profile();
    @include m.grid($columns: 52px 1fr);
    margin: 12px 0;
    .username {
      font-size: 16px;
      font-weight: 500;
      .date {
        font-weight: 400;
        color: rgb(170, 170, 170);
      }
    }
    p,
    span {
      line-height: 1.5;
    }
    .other-comment {
      margin-top: 4px;
    }
  }
}
