@use "@/mixin.scss" as m;

.channel .banner {
  margin: 0 auto;
  max-width: 1284px;
  width: 100%;
  height: 207px;
  border-radius: 12px;
  @include m.flex();
  overflow: hidden;
  img {
    width: 100%;
  }
}
.channel .user-header {
  margin: 0 auto;
  max-width: 1284px;
  width: 100%;
  @include m.grid($columns: 184px 1fr);
  @include m.profile(160px);
  height: 240px;
  .info {
    @include m.flex($direction: column, $item: flex-start);
    .button-box {
      @include m.flex();
      height: 48px;
      .unsub {
        @include m.primary-button();
      }
      .sub {
        @include m.secondary-button();
      }
    }
  }
  .name {
    font-size: 36px;
    margin: 4px 0;
  }
  .user-info,
  .description {
    color: #aaaaaa;
    line-height: 2.2;
  }
}

.channel .profile {
  img {
    width: 160px;
  }
}
.channel .thumbnail {
  img {
    width: 160px;
  }
}

.channel hr {
  border: none;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.2);
}

.channel .container {
  margin: 16px auto;
  max-width: 1284px;
  width: 100%;
  @include m.grid($columns: 1fr 1fr 1fr, $gap: 16px, $item: top);
  .thumbnail {
    aspect-ratio: 16/9;
    border-radius: 12px;
    margin-bottom: 12px;
    overflow: hidden;
    img {
      width: 100%;
    }
  }
  .title {
    @include m.twoLine();
    font-weight: 500;
    font-size: 14px;
    margin-bottom: 6px;
    padding-right: 24px;
    color: #fff;
  }
  .view {
    line-height: 1.4;
    font-size: 12px;
    color: #aaaaaa;
    padding-right: 24px;
  }
}
