@use "@/mixin.scss" as m;

.owner-container {
  @include m.flex();
  .owner-box {
    @include m.flex($justify: start);
    @include m.profile();
    .text-box {
      margin-right: 24px;
      line-height: 1.4;
      .owner {
        font-size: 16px;
        font-weight: 500;
      }
      .subscriber {
        font-size: 12px;
        color: rgb(170, 170, 170);
      }
    }
  }

}
