@use "@/mixin.scss" as m;

.sidebar {
    left: 0;
}
.sidebar, .side-modal {
  margin-top: 56px;
  padding: 12px;
  box-sizing: border-box;
  position: fixed;
  top: 0;
  bottom: 0;
  background-color: #0f0f0f;
  z-index: 10;
  width: 240px;
  overflow-y: auto;
  .header {
    font-size: 16px;
  }
  .main-menu,
  .you-menu {
    padding-bottom: 12px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  }
  .sub-menu img {
    max-width: 24px;
  }

  scrollbar-width: thin;
  scrollbar-color: transparent transparent;
  &:hover {
    scrollbar-color: #888 transparent;
    transition: scrollbar-color 0.3s;
  }
}

.small-sidebar {
  overflow-y: hidden;
  width: 72px;
  padding: 5px;
  white-space: nowrap;

  .main-menu,
  .you-menu {
    padding: 0;
    border: none;
  }
  .header,
  .sub-menu {
    display: none;
  }
}

@media (max-width: 775px) {
  .small-sidebar {
    display: none;
  }
  .content {
    margin-left: 0;
  }
}
