.layout {
  background-color: #0f0f0f;
  width: 100%;
}
.content {
  margin: 56px 0 0 250px;
}
.large-content {
  margin-left: 80px;
}

@media (max-width: 600px) {
  .content {
    margin-left: 0;
  }
}