@use "@/mixin.scss" as m;

.navbar {
  @include m.flex();
  background-color: #0f0f0f;
  height: 56px;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 10;
}

.nav-search {
  @include m.grid($columns: 50px 1fr);
}
