@use "@/mixin.scss" as m;

.tags-container {
  @include m.flex($justify: null);
  height: 56px;
  padding-left: 24px;
  gap: 12px;
  position: fixed;
  top: 56px;
  left: 240px;
  right: 0;
  z-index: 2;
  margin-bottom: 24px;
  background-color: #0f0f0f;
  .item {
    @include m.flex();
    font-weight: 500;
    height: 32px;
    padding: 0 12px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 8px;
    input[type="radio"] {
      display: none;
    }
    &:hover {
      background-color: rgba(255, 255, 255, 0.2);
      cursor: pointer;
    }
  }
  .item:has(input:checked) {
    background-color: white;
    color: black;
  }
}
