@use "@/mixin.scss" as m;

.modal {
  .nav-start {
    position: fixed;
    top: 0;
    left: -240px;
    width: 240px;
    box-sizing: border-box;
    z-index: 12;
    transition: left 0.3s;
  }
}

.side-modal {
  z-index: 12 !important;
  margin-top: 0 !important;
  top: 56px !important;
  left: -240px;
  padding: 0 !important;
  transition: left 0.3s !important;
  .side-list {
    padding: 12px;
    overflow-y: auto;
  }
}
.open {
  .nav-start,
  .side-modal {
    left: 0;
  }
}

.side-modal-open-bg {
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  position: fixed;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.7);
  transition: background-color 0.3s ease-in-out;
}
